body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
    font-family: Twinkle Star, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categorias-sub {
    display: flex;
    gap: 5px;
}

.categorias-sub p {
    margin: 0;
}

.categorias a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.categorias a:hover {
    color: red;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 10em 1fr;
}

header {
    grid-area: header;
    /* border: 1px solid red; */
    background-color: rgb(100, 200, 150);
    color: white;
    text-align: center;
}

menu {
    grid-area: menu;
    margin: 0;
    font-weight: 600;
    /* border: 1px solid red; */
    color: rgb(60, 40, 40);
}

menu p {
    color: grey;
}

main {
    grid-area: main;
    /* border: 1px solid red; */

}

footer {
    grid-area: footer;
    background-color: rgb(100, 200, 150);
    text-align: center;
}

.grid-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: 2rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    object-fit: cover;
}

.card p {
    margin-top: 0;
}

button {
    background-color: rgb(100, 200, 150);
    font-family: Twinkle Star, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    border-radius: 5rem;
    height: 3rem;
}

@font-face {
    font-family: 'Twinkle Star';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/twinkle-star@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/twinkle-star@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }